body, html {
	margin: 0;
	padding: 0;
	height: 100vh;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
}

*:focus {
	outline: none !important;
}

.form-control:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}
